body {
  color: rgb(41, 47, 54);
  line-height: 1.6;
  background-color: rgb(255, 255, 255);
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.hd {
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0px 15px;
  position: relative;
  z-index: 5;
  padding: 0px 0px 300px;
  min-height: 1480px;
}

header {
  height: 130px;
  z-index: 10;
}

.header-banner {
  background-color: rgb(243, 243, 243);
  width: 100%;
  height: 40px;
}

button.cnct {
  float: right;
  margin: 0px 34px;
  border-radius: 0px 0px 6px 6px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 2px 10px;
}

nav {
  width: 100%;
  height: 90px;
  z-index: 10;
  position: relative;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgb(240, 240, 240);
}

nav div {
  max-width: 1170px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 185px;
  margin: 0px auto;
}

nav ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: right;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px auto;
}

nav ul li {
  display: inline-block;
  line-height: 90px;
  margin-left: 40px;
  transition: 1s ease-in-out;
}

li {
  list-style-type: none;
}

ul.menu li a {
  font-size: 17px;
  letter-spacing: -1px;
  cursor: pointer;
  font-weight: bold;
}

nav ul li a {
  color: rgb(67, 74, 84);
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: right;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0px auto;
}

nav ul.phones li {
  line-height: 1.4;
}

nav ul li {
  display: inline-block;
  line-height: 90px;
  margin-left: 40px;
  transition: 1s ease-in-out;
}

li {
  list-style-type: none;
}

nav ul.phones li a {
  vertical-align: sub;
  color: rgb(118, 128, 130);
  font-weight: bold;
  font-size: 16px;
}

nav ul li a {
  color: rgb(67, 74, 84);
  text-decoration: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  z-index: 9;
}

.hb {
  padding-bottom: 40px;
  padding-top: 12px;
  background: rgb(255, 255, 255);
}

.slfa {
  position: relative;
  height: 350px;
  margin: 0px 0px 50px;
}

.slide.fromLeft {
  left: 0px;
}

.slide.active {
  width: 100%;
}

.slide {
  width: 0px;
  height: 350px;
  position: absolute;
  top: 0px;
  background-size: cover;
  transition: width 0.5s ease-in-out;
}

#left {
  left: 20px;
}

.nav {
  user-select: none;
}

.nav {
  position: absolute;
  z-index: 9;
  top: 50%;
  cursor: pointer;
  font-size: 3em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  transition: all 0.66s ease;
}

#left {
  left: 20px;
}

.nav {
  user-select: none;
}

.nav {
  position: absolute;
  z-index: 9;
  top: 50%;
  cursor: pointer;
  font-size: 3em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  transition: all 0.66s ease;
}

.col-md-4.bldng {
  padding-left: 8px;
  padding-right: 8px;
  margin: 20px auto;
  height: 460px;
  display: grid;
}

.blda {
  padding-bottom: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: initial;
  border-image: initial;
  min-height: 428px;
}

span.bdg-name {
  position: absolute;
  top: auto;
  transform: translate(0%, 0%);
  left: 9px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(15, 108, 255);
  background: rgb(255, 255, 255);
  padding: 3px 10px;
}

a.imga {
  display: block;
  height: 100%;
  width: 100%;
  max-height: 200px;
  min-height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

.blda  span.bdg-image {
  height: auto;
  padding: 0;
}

span.bdg-image img {
  margin-bottom: 20px;
  height: auto;
  max-height:  410px;
  margin-top: -120px;
}

span.data span {
  display: flex;
  padding: 5px 12px;
}

img.icon {
  height: 24px;
  width: 24px;
  margin: 0px 10px 0px 0px;
  transform:  translate(0,-5px);
}

span.data p {
  margin: 0px;
}

.footer {
  color: rgb(114, 119, 127);
  position: fixed;
  bottom: 0px;
  z-index: -2;
  left:  auto;
  width:  100%;
  left:  0;
}

.footer .container {
  padding: 10px 30px 0px;
  background: rgb(68, 68, 68);
}

.footer .row {
  padding: 0px 0px 40px;
}

.footer h3 {
  color: rgb(240, 240, 240);
}

.footer p {
  line-height: 19px;
}

.sf {
  background-color: rgb(50, 56, 64);
  color: rgb(114, 119, 127);
  padding: 20px 30px 23.64px;
  margin: 0px -30px;
}

.footer p {
  line-height: 19px;
}

.sf p {
  margin: 0px;
}

.footer p {
  line-height: 19px;
}

.sf p {
  margin: 0px;
}

.category-header {
  display: grid;
  grid-template-columns: 260px 400px 1fr;
  height: 310px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 222, 222);
  border-image: initial;
  margin: 12px 12.5px;
}

.wrap.wim {
  width: 221px;
  padding: 0px;
  background: rgb(248, 248, 248);
}

.wrap:first-child {
  border-right: 1px solid rgb(222, 222, 222);
}

.wrap {
  background-size: cover;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 0px;
}
.singcarry-h .flex img {
    width: 26px;
    height: 26px;
    margin: 0px 10px 0px 0px;
}
.wrpimg {
  height: 140px;
  width: 140px;
  filter: none;
  border-radius: 100%;
  overflow: hidden;
  margin: 0px auto -20px;
}

.wrpovr {
  height: auto;
  width: 100%;
  text-align: center;
}

.wrpimg img {
  width: auto;
  transform: translate(-98px, -5px);
}

.wrap h1.page-title {
  color: rgb(68, 68, 68);
  text-align: center;
  font-size: 24px;
}

.wrap.data {
  width: 370px;
  border-width: 1px 1px;
  border-style: none solid;
  border-color: rgb(227, 227, 227) rgb(227, 227, 227);
  border-image: initial;
  border-top: none;
  border-bottom: none;
  padding: 20px 0px;
}

.singcarry {
  width: 100%;
  position: relative;
  border-width: 1px 1px;
  border-style: solid none;
  border-color: rgb(227, 227, 227) rgb(227, 227, 227);
  border-image: initial;
  border-left: none;
  border-right: none;
  padding: 39px 10px;
}

.singcarry-h .flex {
  margin: 16px 10px 0px 0px;
}

.flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.wrap.map {
  width: 100%;
}

.wrap {
  background-size: cover;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 0px;
} .singcarry-h .flex p {
    font-size: 14px;
    font-style: oblique;
    margin: 0px 5px;
    border-left: 1px solid rgb(222, 222, 222);
    padding: 0px 0px 0px 10px;
}

.singcarry-h .flex span {
    display:  flex;
}

.blda span {
    display:  flex;
    padding:  0 10px;
    margin: 5px 0;
}

span.data {flex-direction: column;}



span.screen-reader-text {
    display:  none;
}

input.search-submit.screen-reader-text {
    background: #6ac2e7;
    color:  #fff;
    border:  none;
    outline:  none;
}

form.search-form {
    padding:  10px 40px;
}

main#main {
    background: #fcfcfc;
}

nav div.nav-links {
    display:  block;
    height:  50px;
}

body.search.search-results article {
    border: 1px solid #cecece;
    padding:  10px 20px;
    margin:  15px;
}

nav.navigation.pagination h2 {
    text-align:  center;
}

.pagination .nav-links {
    display:  flex;
    justify-content:  center;
}

.pagination .nav-links a.page-numbers {
    margin: 0  10px;
    border:  1px solid;
    max-height: 30px;
    padding: 6px 11px;
    border-radius: 100%;
}

.pagination .nav-links span.page-numbers.current {
    margin: -2px 10px;
    border: 1px solid #6ac2e7;
    max-height: 34px;
    padding: 9px 11px;
    color: #6ac2e7;
    font-weight:  bold;
    border-radius:  100%;
}

.pagination .nav-links a.page-numbers.next, .pagination .nav-links a.page-numbers.prev {
    border: none;
}

form#searchform {
    display:  block;
    width: 360px;
    float:  left;
    position:  relative;
    left: 1%;
    top: 22%;
}

.col-md-6.appa {
    border: 1px solid #cecece;
    min-height: 295px;
    margin: 10px 10px;
    width: calc(50% - 20px);
    padding: 20px 0 0;
}

li.prices,li.districts {
    background: #efefef;
    font-weight: bold;
}



a.post-edit-link {
    border:  1px solid;
    padding: 10px  50px;
    display: block;
    margin: 10px 0;
}

.ch.arch ul {
    padding:  0;
}

div#paramsection {
    font-size: 37px;
    font-weight:  bold;
    margin:  20px 0 -40px;
}

div#paramsection span {
    border-radius:  100%;
    border: 1px solid;
    padding: 14px 30px 13px 24.6px;
}

.paramsection {
    display: block;
}

.paramsection span {
    border:  1px sold;
}

.check {
    background-color: #d2d2d2;
    font-weight:  bold;
    padding: 15px;
    margin:  -45px 0 10px;
}

div#search-res {
    position:  relative;
    z-index:  1;
}
.b0{
  border:1px solid #444;
}.b1{
  border:1px solid #222;
}
.m1{
margin:10px 0;}

.srch-card-desk {
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  auto;
    grid-gap:  25px;
}

.srch-card-desk ul {
    padding: 12px;
}

.appartment_res {
    z-index: 7;
    background: #f3f3f3;
}

.appartment li {
    display:  flex;
    align-items: baseline;
    flex-direction: row;
    justify-content:  space-between;
    height: auto;
}

li.ro:before, li.bd:before, li.bl:before, li.sq:before, li.pr:before, li.fl:before {
    content: '';
    background: #6ac2e7;
    position:  absolute;
    width: 120px;
    height: 30px;
    left: 0px;
    transform: skew(-20deg) translate(-21px);
    z-index: 2;
    /* border-right: 7px double #f3f3f3; */
}

li.bd {
    margin-top: 10px;
}

li.im {
    height:  auto;
}

.app_features  p {
    z-index: 2;
    color: #929292;
    padding-top:  7px;
    font-weight:  bold;
    padding-left:  48px;
}

li.pr:before {
    transform: skew(-20deg) translate(-32px);
}

li.bd:before {
    transform: skew(-20deg) translate(-9px);
}

aside {
    position:  relative;
}

a#searchstarter, a#searchstarter .button {
    width:  100%;
    display: grid;
}

a.cat_img_h {
    display:  block;
    position:  relative;
}

.btn-details {
    background: #6ac2e7;
    color:  #fff;
    font-weight:  bold;
}

.app_main li.link {
    justify-content:  flex-end;
    border-top: 1px solid #cacaca;
    padding-top: 10px;
}

li.link .btn {
    margin:  0 8px;
}