div#srch_stat {
    width: calc(100% - 7px);
    display: flex;
    justify-content: flex-end;
    margin-bottom:  20px;
}

.fixie {
    position: fixed;
    top: 20px;
    background: green;
    color: #fff;
    padding: 12px;
    font-size: 17.5px;
    left: 0;
}

.fixie {
    position: fixed;
    top: 20px;
    background: green;
    color: #fff;
    padding: 12px;
    font-size: 17.5px;
    z-index: 999999;
    left: 0;
}

#src_val input[type="checkbox"] {
    transform: scale(1.4);
    margin: 5px 12px;
    outline: 1px solid #cadbe1;
}

div.special_counter {
    text-align: right;
    font-size: 14px;
    font-family: sans-serif;
    text-transform: lowercase;
    background: #e4e4e4;
    color: #444;
    padding: 4px;
}

strong.rom {
    border: 1px solid;
    padding: 5px 11px !important;
    margin: 0 0px;
}

.appartment b {
    padding: 5px 7px 0 12px;
}

.appartment b.app_comn {
    border: none;
    padding: 5px 7px 0 3px !important;
}

.appartment {
    width: auto;
    display: grid;
    border: 1px solid;
    padding: 10px 8px;
    margin: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 6px;
    position:  relative;
    overflow:  hidden;
}

.appartment strong {
    padding: 5px 6px;
    border: 1px solid #cacaca;
    display: table;
    width:  100%;
    text-align:  right;
    position:  absolute;
    left:  0;
    z-index: 1;
    transform: translate(-6px,3px);
    font-size:  13px;
    height: 27px;
}

b {
    padding: 5px 4px 0 0;
    border-left: 1px solid;
    margin: 0 7px 0 0px;
}

.editka a.post-edit-link {
    padding: 5px;
    display: inline;
}

button#searchstarter {
    height: 40px;
    width: 80px;
}

.search_values {
    display: grid;
    grid-template-columns: 100px 275px 145px 180px 180px 1fr 1fr;
    grid-gap: 4px;
    margin: 0px 0;
    padding: 12px 7px;
    /* background: #fff; */
    grid-auto-rows: min-content;
    height: 60px;
    z-index: 6;
}

.search_values div {
    margin: 0 0px;
    height: auto;
    overflow:  hidden;
    z-index: 6;
}

.search_values .sqrt_inp input, .search_values .prc_inp input {
    width: 88px;
    margin: 7px 0px 0 0;
    border: 1px solid #6ac2e7;
    height: 30px;
}

p.srch_labl {
    margin: 0;
    background: #ffffff;
    color: #6ac2e7;
    font-weight: bold;
    padding: 4px;
    height: 35px;
    padding: 9px 12px;
    border: 1px solid #6ac2e7;
    border-radius: 2px;
    z-index:  2;
    position:  relative;
    cursor:  pointer;
}

p.srch_labl:first-letter {
    text-transform: uppercase;
}

button#start {
    background-color: #6ac2e7;
    color: #fff;
    padding: 7px 20px 8px;
    height: 35px;
}

.search_values .choice {
    margin: 0 0px;
    height: 24px;
    z-index: 0;
    position:  relative;
}

div#sqrt_inp {
}

.search_values div.inps {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.choices {padding-top: 7px;background:  aliceblue;transform: translate(0,0);will-change: transform;transition: 0.3s;opacity: 1;z-index:  10;}


.choices.nxpan {
    transform: translate(0,-100%);
    opacity:  .5;
}

.apps_holder {
    display:  grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap:  5px;
    width: calc(100% - 15px);
}

a#searchstarter .button:hover {
    text-decoration:  none;
}

a#searchstarter:hover {
    text-decoration:  none;
}

.home-c.container {
    background: #f3f3f3;
    padding-bottom:  40px;
}

.z-dom {
    position:  relative;
    z-index: 6;
}

.after_search {
    display: flex;
    grid-template-columns: 105px 170px;
    grid-gap: 10px;
}

a.flush_search {
    padding: 4px 13px;
}